:root {
    --spacing: 1em;

    --color-text: #3d3d3d;
    --color-primary: #1b1831;
    --color-accent: #f2835e;
    --color-secondary: #ffff;

    --ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
    --ff-logo: "BetterFly", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--color-text);
    font-size: 1.05rem;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

span {
    color: crimson;
    font-weight: 500;
}

/* Header */

.site-logo {
    font-weight: 900;
    text-decoration: none;
}

header {
    --text: #ffff;
    --text-inverse: #333;
    --background: transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 300ms ease-in;
    background: var(--background);
    color: var(--text);
}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__link {
    padding: calc(var(--spacing) / 2) var(--spacing);
    text-decoration: none;
    color: inherit;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
}

.social__icon {
    min-width: 10%;
    text-align: end;
}

.social__icons:not(:last-child) {
    margin-right: .5rem;
}

.social__icons {
    color: crimson;
}

.nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: crimson;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
  
.nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-scrolled {
    --text: var(--color-primary);
    --background: #f4f4f4;

    box-shadow: 0 3px 20px rgba(black, 0.2);
}

/* Hero */

.home-intro {
    background: #1b1831;
}

.home-intro img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
}

.hero h1 {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

header,
.hero__text {
    opacity: 0;
    transition: all 500ms ease-in-out;
}

header.is-active,
.hero__text.is-active {
    opacity: 1;
}

/* About */

.home-about h2 {
    text-decoration: underline;
    text-decoration-thickness: .2rem;
    text-decoration-color: crimson;
    text-underline-offset: .5rem;
}

.home-about {
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
}

.columns {
    display: flex;
    margin-top: 5rem;
}

.col + .col {
    margin-left: 2.5em;
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in;
}

.fade-in.is-active {
    opacity: 1;
    visibility: visible;
}

/* Propuesta Valor */

.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: 
        opacity 250ms ease-in,
        transform 400ms ease-in;
    opacity: 0;
    visibility: hidden;
}

.from-left.is-active,
.from-right.is-active {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

/* Services */

.gallery {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin: 0 auto;
}

.card-container {
    padding: 1rem;
}

.img-container {
    overflow: hidden;
    border-radius: 50%;
}

.img-container p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.img-container img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    transition: all 1500ms ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}

.modal {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 300ms ease-out;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.modal p {
    color: #ffff;
    font-size: .89rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 300ms ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}



/* Overlapping */

.overlapping h2 {
    margin-bottom: 2.5rem;
}

.overlapping {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: #f4f4f4;
}

.over__container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__content {
    width: 65%;
    height: 480px;
    background: url('https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat center;
    box-shadow: 0px 2px 8px 0px #858484;
    object-fit: cover;
    border-radius: 1rem;
}

.right__content {
    width: 50%;
    min-height: 200px;
    background-color: #dc143ce8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    color: #ffff;
    margin-left: -150px; /*overlapping*/
    box-shadow: 0px 2px 8px 0px #858484;
}

.right__content h2 {
    font-weight: lighter;
}

.right__content p {
    margin: 2rem 0;
    font-weight: 300;
    font-size: .9rem;
}

.right__content a {
    text-transform: uppercase;
    color: #f4f4f4;
    padding: .5rem;
    display: inline-block;
    letter-spacing: 1px;
    font-size: .8rem;
    font-weight: 500;
    text-decoration:none;
    box-shadow: inset 0 -2.5px 0 #f4f4f4;
    transition: all 200ms ease-in-out;
}

.right__content a:hover {
    /* background-color: #f4f4f4;
    color: #000; */
    border: 2.5px solid #f4f4f4;
    border-radius: 1rem;
    box-shadow: 0 5px 15px #471919;
}

@media only screen and (max-width: 768px) {
    .over__container {
        flex-direction: column;
        width: 90%;
        margin: 0 1rem;
    }

    .left__content {
        width: 100%;
        height: 400px;
    }

    .right__content {
        width: 90%;
        margin: 0;
        margin-top: -100px; /*overlapping*/
    }
}

/* Testimonials */


.carousel {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-image: url(/assets/img/pattern-curve.svg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__slider {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

.slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.slide__img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 4rem;
    background-image: url(/assets/img/pattern-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slide__text {
    padding-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url(/assets/img/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 10% top;
}

.testimonial__text {
    color: crimson;
}

.name__text {
    margin-top: 2.5rem;
    color: crimson;
    font-size: 1rem;
    font-weight: bold;
}

.name__text span {
    color: lightsalmon;
    font-weight: 500;
    display: block;
}

.slide__img img {
    height: 100%;
    width: 300px;
}

.btn__prev,
.btn__next {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.btn__prev:hover,
.btn__next:hover {
    background-color: antiquewhite;
}

.buttons-slider {
    position: absolute;
    top: 245px;
    left: calc(100% - 350px);
    transform: translate(0);
    width: 90px;
    height: 45px;
    box-shadow: -20px 12px 20px 0px darkgray;
    border-radius: 10rem;
    background-color: #ffff;
    overflow: hidden;
    text-align: start;
}

.btn__prev {
    left: 0;
}

.btn__next {
    right: 0;
}

.btn__next::after,
.btn__prev::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.btn__next::after {
    background-image: url(/assets/img/icon-next.svg);
}

.btn__prev::after {
    background-image: url(/assets/img/icon-prev.svg);
}

.slide-2 {
    display: none;
}

@media only screen and (max-width: 768px) {
    .carousel {
        padding: 0;
    }

    .slide {
        flex-direction: column-reverse;
        text-align: center;
    }

    .slide__img {
        margin: 0 auto;
        padding: 3rem;
    }

    .slide__img img {
        width: 280px;
    }

    .slide__text {
        align-items: center;
        padding: 3rem 1rem;
        margin-top: 3rem;
        background-size: 80px; 
        background-position: top center;
    }

    .buttons-slider {
        left: 50%;
        transform: translateX(-50%);
        top: 220px;
    }

    .testimonial__text {
        width: 80%;
    }
}

@media only screen and (max-width: 380px) {
    .slide__img img {
        width: 200px;
    }

    .buttons-slider {
        top: 230px;
    }

    .testimonial__text {
        width: 100%;
    }
}


/* Team Members Cards */

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 19rem));
    grid-gap: 2rem;
    justify-content: center;
}
  
.container__card {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px #858484;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
}
  
.banner__img {
    position: absolute;
    background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.profile__img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
}
  
.profile__name {
    font-weight: bold;
    margin: 0;
}
  
.description {
    margin: 1rem 2rem;
}
  
.profile__btn {
    width: 100%;
    border: none;
    font-weight: bold;
    color: white;
    padding: 1rem;
    cursor: pointer;
    background-color: crimson;
}

/* Footer */

.footer {
    background-color: #2d314d;
    color: white;
    font-size: 0.75rem;
    padding: 2rem 3rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2 news" 
        "social links1 links2 copyright";
    gap: 1.5em;
    justify-items: start;
}

.footer a {
    color: white;
}

.footer__logo {
    grid-area: logo;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.footer__social {
    grid-area: social;
    align-self: end;
}

.footer__icon {
    display: inline-block;
    font-size: 1.2rem;
    transition: all 300ms ease;
}

.footer__icon:hover {
    color: crimson;
}

.footer__icon:not(:last-child) {
    margin-right: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: start;
}

.footer__links a {
    text-decoration: none;
    transition: all 300ms ease;
}

.footer__links a:hover {
    color: crimson;
}

.footer__links.col1 {
    grid-area: links1;
}

.footer__links.col2 {
    grid-area: links2;
}

.footer__news {
    grid-area: news;
    text-align: right;
    justify-self: end; 
}

.footer__news p {
    text-align: end;
    margin: 0;
    margin-bottom: 0.5rem;
}

.footer__mailbox {
    padding: .5rem;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.footer__btn {
    border: none;
    background-color: crimson;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
    padding: .5rem .7rem;
    cursor: pointer;
}

.footer__btn:hover {
    box-shadow: 0 0 5px rgba(212, 212, 212, 0.342);
}

.footer__btn.is-active {
    background-color: rgb(47, 255, 151);
}

.footer__copyright {
    grid-area: copyright;
    align-self: end;
    justify-self: end;
    text-align: end;
}

@media only screen and (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer__container {
        display: inline;
    }

    .footer__logo {
        margin-bottom: 1.8rem;
    }

    .footer__social {
        margin-bottom: 1.8rem;
    }

    .footer__links {
        align-items: center;
        line-height: 2;
    }

    .footer__links.col2 {
        margin-bottom: 1.8rem;
    }

    .footer__news {
        margin-bottom: 1.8rem;
        align-items: center;
        text-align: center;
    }

    .footer__news p {
        text-align: center;
    }

    .footer__copyright {
        text-align: center;
    }
}

/* Mobile Navbar */

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-nav {
        display: flex;
    }

    .mobile__navlist {
        display: flex;
        position: fixed;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        width: 100%;
        border-radius: 1rem 1rem 0rem 0rem;
        background-color: crimson;
        padding: .8rem 0rem;
        bottom: 0;
        font-size: 0.7rem;
        z-index: 3;
        box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 10px;
    }

    .mobile__navlink {
        display: block;
        color: white;
        width: 25%;
        text-decoration: none;
    }

    .mobile__navlink:not(:last-child) {
        border-right: solid 1px;
    }

    /* Header */
    .nav__list {
        display: none;
    }

    .social__icon {
        display: none;
    }

    header {
        padding: 0;
        justify-content: center;
    }

    /* Footer */

    .footer__copyright {
        margin-bottom: 5rem;
    }
}

/* Conocenos */

@media only screen and (max-width: 768px) {
    .home-about {
        max-width: 90%;
    }

    .columns {
        flex-direction: column;
    }

    .col + .col {
        margin-left: 0;
    }

    .col:not(:last-child) {
        margin-bottom: 2rem;
    }

    .over__container {
        overflow: hidden;
    }

    .main__slider {
        overflow: hidden;
    }
}